<header>
  <h1>Carson Joinery</h1>
</header>
<div id="menu-button">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div id="menu">
  <div class="inner-container">
    <nav>
      <ul id="page-menu">
        <li data-menuanchor="welcome"><a href="#welcome">Welcome</a></li>
        <li data-menuanchor="about-carson-joinery"><a href="#about-carson-joinery">About Us</a></li>
        <li data-menuanchor="our-work"><a href="#our-work">Our Work</a></li>
        <li data-menuanchor="contact-us"><a href="#contact-us">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</div>