<header>
  <h1>Carson Joinery</h1>
</header>
<div id="menu-button">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div id="menu">
  <div class="inner-container">
    <nav>
      <ul id="page-menu">
        <li data-menuanchor="welcome"><a href="#welcome">Welcome</a></li>
        <li data-menuanchor="about-carson-joinery"><a href="#about-carson-joinery">About Us</a></li>
        <li data-menuanchor="our-work">
          <a href="#our-work">Our Work</a>
          <ul>
            <li data-menuanchor="our-work-exterior-doors"><a href="#our-work/our-work-exterior-doors">Exterior Doors</a></li>
            <li data-menuanchor="our-work-interior-doors"><a href="#our-work/our-work-interior-doors">Interior Doors</a></li>
            <li data-menuanchor="our-work-windows"><a href="#our-work/our-work-windows">Windows</a></li>
            <li data-menuanchor="our-work-bay-windows"><a href="#our-work/our-work-bay-windows">Bay Windows</a></li>
            <li data-menuanchor="our-work-stairs"><a href="#our-work/our-work-stairs">Stairs</a></li>
            <li data-menuanchor="our-work-bannisters"><a href="#our-work/our-work-bannisters">Bannisters</a></li>
          </ul>
        </li>
        <li data-menuanchor="contact-us"><a href="#contact-us">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</div>